<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommunityMapper">
    <select id="list" resultType="hashmap">
        select *
        from post
        where categoryid = #{categoryid};
    </select>
    <insert id="insert_post">
    	insert into post(categoryid, userid, title, content)
    	values(#{categoryid}, #{userid}, #{title}, #{content);
    </insert>
    <select id="read" resultType="hashmap">
    	select *
    	from post
    	where postid = #{postid};
    </select>
    <update id="update_post">
    	update post
    	set title = #{title}, content = #{content}
    	where categoryid = #{categoryid} and postid = #{postid}
    </update>
    <select id="list_comment" resultType="hashmap">
    	select *
    	from comment;
    </select>
    <insert id="insert_comment">
    	insert into comment(userid, content)
    	values(#{userid}, #{content})
    </insert>
</mapper>
