<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SurveyMapper">
    <select id="qList" resultType="hashmap">
        select * from survey_q;
    </select>
    
    <select id="sList" resultType="hashmap">
        select * from survey_s;
    </select>
	<insert id="insertResult" parameterType="java.util.List">
	    insert into result (selectid, userid, questionid, input_text)
	    values
	    <foreach collection="list" item="item" separator=",">
	    	(#{item.selectid}, #{item.userid}, #{item.questionid}, #{item.input_text})   	    	
	    </foreach>
    </insert>
</mapper>
