<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserShopMapper">
	<select id="list_purchase" resultType="hashmap">
		select *,
		format(totalprice, 0) fmtsum, date_format(right(orderid, 8),
		'%Y-%m-%d') fmtdate from purchase where userid = #{userid}
	</select>
</mapper>
