<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	<select id="read" resultType="hashmap">
		select *, date_format(regdate,
		'%Y-%m-%d %T') fmtdate
		from user
		where email = #{email} or userid =
		#{userid}
	</select>
	<select id="count_read" resultType="int">
		select count(*) cnt
		from user
		where userid = #{userid}
	</select>
	<insert id="insert">
		insert into user(userid, email, password, nickname,
		phone,
		avatar, point, regdate)
		values(#{userid}, #{email}, #{password},
		#{nickname},
		#{phone}, #{avatar}, #{point}, now())
	</insert>
	<update id="update">
		update user
		set nickname = #{nickname}, phone =
		#{phone}, password = #{password}, avatar = #{avatar}
		where userid =
		#{userid}
	</update>

	<select id="read_user_survey" resultType="hashmap">
		CALL GetLatestUserResults(#{userid});
	</select>
	<select id="get_user_survey" resultType="hashmap">
		CALL GetLatestUserResults(#{userid});
	</select>
	<select id="is_duplicate" resultType="int">
		select count(*) from result
		where userid = #{userid} and questionid = #{questionid} and regdate =
		#{regdate, javaType=java.util.Date, jdbcType=DATE}
	</select>
	<update id="update_user_survey">
		update result set selectid = #{selectid}, input_text
		= #{input_text}
		where userid = #{userid} and questionid = #{questionid}
		and regdate = #{regdate, javaType=java.util.Date, jdbcType=DATE}
	</update>
	<insert id="insert_user_survey">
		<![CDATA[
    		insert into result(selectid, userid, questionid, input_text, regdate)
    		values(#{selectid}, #{userid}, #{questionid}, #{input_text}, #{regdate, javaType=java.util.Date, jdbcType=DATE})
    	]]>
	</insert>
	
	<select id="list_allergy" resultType="hashmap">
		select * from survey_s
		where questionid = 4;
	</select>
</mapper>
