<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	<select id="read" resultType="hashmap">
		select *, date_format(regdate, '%Y-%m-%d %T') fmtdate
		from user
		where email = #{email}
	</select>
	<insert id="insert">
		insert into user(email, password, nickname, phone,
		avatar, point, regdate)
		values(#{email}, #{password}, #{nickname},
		#{phone}, #{avatar}, #{point}, now())
	</insert>
</mapper>
